:root {
  --plus: polygon(
    35% 0%,
    65% 0%,
    64% 26%,
    100% 26%,
    90% 50%,
    65% 50%,
    65% 100%,
    35% 100%,
    35% 50%,
    10% 50%,
    0% 26%,
    35% 26%
  );

  --rabbet: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );

  --octagon: polygon(
    10% 25%,
    30% 12%,
    50% 0,
    50% 0,
    70% 12%,
    90% 25%,
    100% 60%,
    85% 80%,
    70% 100%,
    30% 100%,
    15% 80%,
    0 60%
  );
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}

.content {
  align-items: center;
  position: absolute;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

.content__media {
  display: flex;
  align-items: center;
  /* background: #000; */
  width: 45vh;
  height: 45vh;
  justify-content: center;
  position: relative;
  transition: all 2s cubic-bezier(0.53, 0, 0.07, 0.99);
  will-change: clip-path, rotate;
}

.content__media > * {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.content__trg-list {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  margin-top: 10vh;
  padding: 0;
}

.content__trg {
  background: #000;
  cursor: pointer;
  height: 4vh;
  opacity: 0.2;
  transition: all 0.3s ease-in-out;
  width: 4vh;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content__trg.active {
  opacity: 1;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 1s cubic-bezier(0.53, 0, 0.07, 0.99);
}

.media.active {
  opacity: 1;
}

li.content__trg:nth-child(1),
.content__media {
  clip-path: var(--plus);
}

li.content__trg:nth-child(2) {
  clip-path: var(--rabbet);
}

li.content__trg:nth-child(3) {
  clip-path: var(--octagon);
}

/* __________ Interactions __________ */
/* __________ Interactions __________ */

/* _____ set bg colors_____ */
[data-current="0"] {
  background-color: #ebb719;
  /* background: linear-gradient(to top, #ebb719, #f0d05b); */
}

[data-current="1"] {
  background-color: #ee0041;
  /* background: linear-gradient(to top, #ee0041, #f2498a); */
}

[data-current="2"] {
  background-color: #fc8d07;
  /* background: linear-gradient(to top, #fc8d07, #fcbb51); */
}

/* image 1 */
[data-current="0"] .content__media {
  rotate: 0deg;
  clip-path: var(--plus);
}

/* image 1 button */
[data-current="0"] .content__trg-list .content__trg:nth-child(1) {
  /* clip-path: var(--diamond); */
  background-color: #e7d9ca;
}

/* image 2 */
[data-current="1"] .content__media {
  rotate: 90deg;
  clip-path: var(--rabbet);
}

/* image 2 button */
[data-current="1"] .content__trg-list .content__trg:nth-child(2) {
  /* clip-path: var(--octagon); */
  background-color: #fce3ef;
}

/* image 3 */
[data-current="2"] .content__media {
  rotate: 180deg;
  clip-path: var(--octagon);
}

/* image 3 button */
[data-current="2"] .content__trg-list .content__trg:nth-child(3) {
  /* clip-path: var(--hexagon); */
  background: #fdd276;
}
